*.pyc
__pycache__/
**/saved_models/
**/universal-ner/src/train/saved_models/hardware-hf
**/universal-ner/src/train/saved_models/software-hf
**/universal-ner/src/train/saved_models/vulnerability-hf
**/universal-ner/src/train/wandb
universal-ner/.git/objects/pack
software_entity_recognition/.git/objects/pack
software_entity_recognition/training/model/** 
software_entity_recognition/training/nll/** 
software_entity_recognition/training/cache/** 
data/**